<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppleFrameworks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF7F558E2C5A8E440095310E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF7F559F2C5A8E460095310E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF7F55A92C5A8E460095310E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
